<!DOCTYPE html>
<html>
  <head>
  	<% include include/head %>
  </head>

  <body class="hold-transition skin-blue fixed sidebar-mini">
  	
  	<% include include/sidebar %>



  	<div style="min-height: 646px;" class="content-wrapper">
      
      <div class= content-wrapper-center style="margin: 248px auto 0px;">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h4>Add a New Main Video</h4>
              <p>Video Type : Main</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="newBundleAddMain" class="small-box-footer">
              Add Video <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h4>Add a New Related Video</h4>
              <p>Video Type : Promo | Trailer | Teaser | First Look</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="newBundleAddRelated" class="small-box-footer">
              Add Video <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>




    </div>
  	
  	<% include include/footer %>
  </body>
</html>