<!DOCTYPE html>
<html>
  <head>
  	<% include include/head %>
  </head>

  <body class="hold-transition skin-blue fixed sidebar-mini">
  	
  	<% include include/sidebar %>

  	<div style="min-height: 646px;" class="content-wrapper">
    </div>
  	
  	<% include include/footer %>
    <% include include/script %>
  </body>
</html>