<html>
  <head>
    <title>Simple login</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>
    //   $(document).ready(function(){
    //     var user,pass;
    //     $("#submit").click(function(){
    //       user=$("#user").val();
    //       pass=$("#password").val();
    //       $.post("http://localhost:3000/login",{user: user,password: pass}, function(data){
    //         if(data==='done')
    //           {
    //             alert("login success");
    //           }
    //       });
    //     });
    //   });
    </script>
  </head>
  <body>
    <h1>Hello people !</h1>
    <form method="post" action="/test">
        <input type="TEXT" id="user" size="40" name="username">
        <input type="password" id="password" size="40" name="password"><br>
        <input type="submit" id="submit" value="Submit">
  </form>
  </body>
</html>